.view-layout {
  clear: both;
}

.search {
  background-color: #efefef;
  padding: 10px 0;
  input {
    padding: 0 10px;
    vertical-align: middle;
    width: 90%;
  }
}

.year-selection {
  width: 200px;
}

.genre-selection {
  width: 300px;
}
