.view-layout {
  clear: both;
}

.empty-state {
  border: dashed #306f88 1px;
  background-color: $light-blue;
  color: #306f88;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.search {
  background-color: #efefef;
  margin-bottom: 40px;
  padding: 10px 0;
  input {
    padding: 0 10px;
    vertical-align: middle;
    width: 80%;
  }
}

.subtitle {
  margin-bottom: 30px;
}

.filters {
  margin-bottom: 30px;
  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.year-selection {
  width: 200px;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.genre-selection {
  width: 350px;
  @media (max-width: 600px) {
    width: 100%;
  }
  .selectize-input {
    height: 36px !important;
  }
  .selectize-input > input {
    position: absolute;
  }
}

.movies {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.movie {
  border: solid #ededed 1px;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.4);
  flex-basis: 50%;
  margin: 0 2% 50px 0;
  max-width: 47.5%;
  @media (max-width: 992px) {
    margin: 0 0 50px 0;
    flex-basis: 100%;
    max-width: 100%;
  }

  &__header {
    overflow: hidden;
    margin: 10px 0 30px 0;
    h3 {
      float: left;
      margin-bottom: 10px;
    }
    span {
      float: right;
      margin-right: 10px;
    }
  }

  &__meta-info {
    clear: both;
    font-size: 13px;
  }

  &__footer {
    bottom: 0;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
    @media (max-width: 768px) {
      padding: 20px 0 10px;
      position: static;
    }
  }

  &__backdrop {
    height: 100px;
    display: none;
    overflow: hidden;
    @media (max-width: 768px) {
      display: block;
    }
  }

  & .media-content__body {
    height: 100%;
    @media (max-width: 768px) {
      padding: 10px;
    }
  }

  & .media-content__img {
    margin-right: 15px;
    overflow: hidden;
    @media (max-width: 768px) {
      display: none;
    }
    img {
      transition: all ease-in-out 1.4s;
      height: 270px;
      width: 185px;
    }
  }
  &:hover {
    .media-content__img img {
      transform: scale(1.1);
    }
  }
}

.pagination-container {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  @media (max-width: 1024px) {
    margin-left: 0px;
    clear: left;
  }
}

.pagination {
  .page {
    border: solid 1px #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    &.active {
      font-weight: 600;
      color: $light-blue;
    }
    &.disabled {
      background-color: #eee;
      cursor: not-allowed;
    }
  }
}

.btn {
  background-color: #fff;
  border: solid 1px $light-blue;
  border-radius: 4px;
  color: $light-blue;
  padding: 5px 10px;
  transition: all linear 0.3s;
  #{&}--link {
    border: 0 none;
  }
  &:hover:not(#{&}--link) {
    background-color: $light-blue;
    color: #fff;
  }
}
